{% comment %}
Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

1. Head over to https://realfavicongenerator.net/ to add your own favicons.
2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<!-- icon and color for mobile devices -->
<meta name="theme-color" content="#304263">
{% include favicons.html %}

<!-- Validate Website for Bing Webmaster Tools -->
<meta name="msvalidate.01" content="F708251D8AB4BD006A956053174918B3" />