<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
{% include favicons.html %}

<!-- Validate Website for Bing Webmaster Tools -->
<meta name="msvalidate.01" content="F708251D8AB4BD006A956053174918B3" />

<!-- end custom head snippets -->